<div class="button-form">
  <h3>Button form component</h3>
  <button {{on "click" (fn @addOne 1)}}>Use parent action</button>
  <button {{on "click" this.localAction}}>Use local action that calls parent</button>
</div>